@page
@model BookStoreAssignment.Pages.Books.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="ms-5 mt-5">Create Book</h1>

<hr />

<div class="mt-5 ms-5" style="width:500px">
    <form method="post">
       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       <div class="form-group">
          <label asp-for="Book.Title" class="control-label"></label>
          <input asp-for="Book.Title" class="form-control" />
          <span asp-validation-for="Book.Title" class="text-danger"></span>
       </div>
       <div class="form-group mt-3">
          <label asp-for="Book.Category" class="control-label"></label>
          <input asp-for="Book.Category" class="form-control" />
          <span asp-validation-for="Book.Category" class="text-danger"></span>
       </div>
       <div class="form-group mt-5">
         <input type="submit" value="Create" class="btn btn-primary me-4" />
            <button class="btn btn-primary" style="color:#fff">
                <a style="color:#fff;text-decoration:none" asp-page="./Index">Cancel</a>
            </button>
       </div>
    </form>
 </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
